.btn {
    padding: $sp2 15px;
    border-radius: 10px;
    border: none;
    font-size: $fs3;
    font-weight: $font-bold;

    & a {
        color: $primary;
        text-decoration: none;
    }

    &--adl {
        background-color: $adl; 
        & a {
          color: $white;  
        }
        
    }
    &--google {
        background-color: $white;
        border: 1px solid $secondary;
        display:flex;
        justify-content: center;
        align-items: center;
        gap: $sp1;
    }

    &--secondary {
      background-color: $secondary;
    }
}