//PALETA DE COLORES
$primary: rgb(39, 37, 37);
$secondary: rgba(121, 117, 117, 0.34);

$adl: rgb(114, 158, 46);

$html: #E93E30;
$js: #F7E018;
$css: #299ED5;
$react: #292C33;
$vue: #67C770;
$bootstrap: #563D7C;
$white: #fff;


//TIPOGRAFIAS
$poppins-font: 'Poppins', sans-serif;

//PESOS FUENTES
$font-thin: 300;
$font-medium: 500;
$font-bold: 700;

//TAMAÑO FUENTES
$fs1: 32px;
$fs2: 28px;
$fs3: 24px;
$fs4: 20px;
$fs5: 18px;
$fs6: 16px;

//SPACING
$sp1: 4px;
$sp2: 8px;
$sp3: 16px;
$sp4: 25px;
$sp5: 30px;

//BORDER
$border-color: #CCCCCC;




