.populares-categorias__container {
  display: grid;
  grid-template-columns: 70% 30%;
  padding-bottom: 2rem;
}

.populares {
  display: flex;
  flex-direction: column;
  width: 298px;

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 1.25rem;
    grid-row-gap: 2rem;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 700;
  }
}